Options +FollowSymLinks

Options -Indexes
IndexIgnore *
  


DirectoryIndex index.php  index.html /error403
 
       
<files *.jpg>
Order allow,deny
Deny from all
</files>

<files *.png>
Order allow,deny
Deny from all
</files>

<files *.zip>
Order allow,deny
Deny from all
</files>
 
